body{
    background-color: lightcoral;

}

.box{
    width: 50%;
    height: auto;
    position: absolute;
    top: 25%;
    left: 25%;
}

.header{
    width: 100%;
    height: auto;
    position: absolute;
    top: 10%;
    left: 38%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: white;
}
    

.content{
    background-color: white;
    height: auto;
    border-radius: 15px 0 15px 0;
    padding: 50px;
}

.button-group{
    text-align: right;
    margin-top: 10px;
}